<div id="apiRoot"></div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
      SwaggerUIBundle({
        dom_id: '#apiRoot',
        // url: "http://localhost:2901/api/docs/v1"
        url: "/items/v1/items-1.0.0.json"
      });
    });
  </script>
<% end %>
