---
title: a15k: Introduction
---

<h1>
  Introduction
</h1>

<p>Assessment items are expensive and time-consuming to develop. It’s very difficult for providers, especially startups, to develop enough high quality assessments to meet customer demands. The same assessments are re-created throughout textbooks, learning tools, and classrooms. And because each assessment item exists in siloed systems, information about the effectiveness of items is not shared. The opportunity is lost for improving assessment items over time, adapting them for particular learning contexts, and truly understanding each item’s strengths.</p>

<p>The Assessment Network (a15k), established by Rice University’s <%= link_to "OpenStax", "http://openstax.org" %> initiative, is a community of member organizations working through sustainable business models to pool assessment items and the knowledge accrued about them.</p>

<h2>How does an organization participate and what are the benefits?</h2>

<p>Members of the Assessment Network contribute assessments along with metadata and, optionally, usage data.  In return they get access to assessment content, performance statistics, aggregated rating data, and errata reports for both their own contributed assessments and the assessments contributed by other members.</p>

<p>The Assessment Network is being designed to make the process of contributing as easy as possible.  The network will take contributions in whatever native format a member already uses along with documentation describing that format so that other members can read your content.</p>

<div class="centered-image">
<%= image_tag "member_interaction_v2.gif", class: "center" %>
</div>


<h2>How does the network protect an organization’s assessments?</h2>

<p>The Assessment Network will provide two tiers of security for contributed items: a members-only bank and an open-access bank.  Contributions start in the members-only bank where they are accessible to other current members of the network.  We all know that it is impossible to protect non-high stakes assessments from being captured by students and shared freely on the web.  To reflect that reality, items in the members-only bank eventually migrate to the open-access bank, where they can be used by members and non-members for practice applications.</p>

<div class="centered-image">
<%= image_tag "assessments_flow_to_open_v1.png" %>
</div>

<h2>What tools does the network provide to help an organization?</h2>

<p>The Assessment Network will provide a number of tools to help your organization make the best use of the content available within the network:</p>

<ul>
  <li>A graphical user interface that your content development teams can use to find, gather, and review assessments from the network that meet your needs</li>
  <li>Web-accessible application programming interfaces (APIs) that your developers can use to automatically upload and download assessment content, metadata, and statistics.</li>
  <li>Pre-built software libraries that implement the network’s APIs for faster integration into your existing infrastructure.</li>
</ul>
